# ========================
# Maven
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs / temp
# ========================
*.log

# ========================
# Others
# ========================
save.dat